[submodule "AuHitRange"]
	path = AuHitRange
	url = https://github.com/uMMORPG/AuHitRange.git
[submodule "AuFlyCam"]
	path = AuFlyCam
	url = https://github.com/uMMORPG/AuFlyCam.git
[submodule "AuCoords"]
	path = AuCoords
	url = https://github.com/uMMORPG/AuCoords.git
[submodule "AuChatButtons"]
	path = AuChatButtons
	url = https://github.com/uMMORPG/AuChatButtons.git
[submodule "AuXtraUI"]
	path = AuXtraUI
	url = https://github.com/uMMORPG/AuXtraUI.git
[submodule "AuApiUI"]
	path = AuApiUI
	url = https://github.com/uMMORPG/AuHitRange.git
